*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.form-box {
    width: 700px;
    height: 100vh;
    margin: 2rem auto;
    padding: 3vw ;
    position:relative; 
    align-items: center;
    text-align:center;
    border: solid black 3px;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.1);
}

label {
  display:inline-block;
  width: 150px;
  text-align: left;
  margin-right: 30px;

}

h1 {
  margin-bottom: 50px;
}

.input-div {
  margin-bottom: 20px;
}

.input {
  height: 1.5em;
  border-radius: 3px;
}

.btn {
  margin-top: 50px;
  border-radius: 5.5px;
  border-color: white;
  height: 70px;
  width:150px;
}