.wrapper {
    padding-top: 0.25%;
    padding-bottom: 0.25%;
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
}  

.logo {
    padding: 8px;
    margin-left: 5%;
    height: 35px;
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
    cursor: pointer;
}

.signin {
    position: relative;
    padding: 8px;
}

.prof {
    cursor: pointer;
    display: flex;
    border-radius: 50px;
    background-color: #ffffff;
    margin-left: -50%;
    border: 1px solid #dddddd;
}

.prof span {
    background-color: pink;
}