.parent {
    /* may need to change max-width back to 280px here */
    max-width: 280px; 
    position: relative;
    cursor: pointer;
}

.timeframe {
    font-weight: 400;
    size: 10px;
    color: #585858;
    float: right;
    margin-top: 4px;
}

.featuredImage {
    width: 280px;
    height: 250px;
    border-radius: 25px;
}

.address {
    float: left;
    margin-top: 7px;
    font-weight: 600;
}

.price {
    float:right;
    margin-top: 6px;
}

.proximity {
    font-weight: 400;
    size: 10px;
    color: #585858;
    float: left;
    margin-top: 4px;
    margin-left:4px;
}

.wrapperdiv {
    margin-top: 10px;
    margin-left: 2%;
}

@media (max-width: 800px) {
    /* SO NO OVERLAP WITH BUTTONS ON MOBILE */
    .flex-pos {
        margin-top: 210px;
    }
}

.flex-pos {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
}

.upload_listing {
    position: absolute;
    bottom: 0;
    right: 0;
    border: 0px;
    margin-right: 20px;
    margin-bottom: 25px;
    padding: 22.5px;
    border-radius: 50px;
    background-color: #FFE800;
    border: 1px solid grey;
    cursor: pointer;
}

.upload-form-wrapper {
    position: absolute;
    z-index: 6;
    width: 50%;
    margin-left: 20%;
}