.wrapper {
    padding-top: 0.25%;
    padding-bottom: 0.25%;
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;      
}  

.buttonWrapper {
    white-space: nowrap;
    overflow: hidden;
    z-index: 1;
  }

.logo {
    padding: 8px;
    margin-left: 5%;
    height: 35px;
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
    cursor: pointer;
}

.signin {
    position: relative;
    padding: 8px;
}

.prof {
    cursor: pointer;
    display: flex;
    border-radius: 50px;
    background-color: #ffffff;
    margin-left: -50%;
    border: 1px solid #dddddd;
}


.dropdown {
    position: absolute;
    margin-left: -300%;
    margin-top: 25px;
    max-width: 350px;
    min-width: 350px;
    min-height: 100px;
    white-space: normal;
    border-radius: 10px;
    background-color: white;
    border: 1px solid #DCDCDC;
    z-index: 5;
}

.dropdown_smaller {
    margin-left: -120%;
    min-width: 170px;
    max-width: 170px;
}

.dropdown > button {
    width: 90%;
    border: 0px;
    background-color: white;
    cursor: pointer;
    font-size: 18px;
    margin-left: 2px;
    margin-top: 2px;
}

.dropdown > button:hover {
    background-color: pink;
}


.notClickedDisplay {
    display: none;
}

.buttonWrapper {
    white-space: nowrap;
    overflow: hidden;
    z-index: 4;
  }

  .prof_ {
    width: 75%;
    cursor: pointer;
    display: flex;
    border-radius: 50px;
    margin-left: -50%;
    border: 1px solid #dddddd;
    align-items: flex-start;
    padding-right: -100px;
}

.flex {
    display: flex;
    flex-direction: row;
    margin-left: 4%;
  }
  
.toggle {
    float: left;
    width: 50%;
    text-align: center;
    cursor: pointer;
    font-weight: 700;
}

.toggleIsActive {
    color: black;
}

.toggleIsActive > hr {
    border-color: black;
}

.toggleIsDormant {
    color: #A9A9A9
}

.formWrapper {
    margin-top: 50px;
}

.input_forms {
    box-sizing: border-box;
    width: 100%;
    margin: 8px 0;
    border: 1px solid #ccc;
    padding: 12px 20px;
    border-radius: 4px;
}

input[type=text], select {
  }

.submit_signin {
    width: 100%;
    height: 40px;
    background-color: black;
    border: 1px solid black;
    color: white;
    border-radius: 4px;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
}

.signedInDropdown {
}

.signedInDropdown > button {
    width: 90%;
    margin-left: 5%;
    background-color: white;
    border: 0px;
    cursor: pointer;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.signedInDropdown > button:hover {
    background-color: #F0F0F0;
}
