@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900');

* {
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    padding-top: 0.25%;
    padding-bottom: 0.25%;
    display: flex;
    justify-content: space-between;
    background-color: #1e90ff;      
}  

.buttonWrapper {
    white-space: nowrap;
    overflow: hidden;
    z-index: 1;
  }

.logo {
    margin-left: 5%;
    height: 55px;
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
    cursor: pointer;
}

.signin {
    position: relative;
    padding: 8px;
}

.prof {
    cursor: pointer;
    display: flex;
    border-radius: 50px;
    background-color: rgba(255, 232, 0);
    margin-left: -50%;
    border: 2.5px solid rgba(255, 232, 0);
}


.dropdown {
    position: absolute;
    margin-left: -300%;
    margin-top: 25px;
    max-width: 350px;
    min-width: 350px;
    min-height: 100px;
    white-space: normal;
    border-radius: 10px;
    background-color: white;
    border: 1px solid #DCDCDC;
    z-index: 5;
}

.dropdown_smaller {
    margin-left: -120%;
    min-width: 170px;
    max-width: 170px;
}

.dropdown > button {
    width: 90%;
    border: 0px;
    background-color: white;
    cursor: pointer;
    font-size: 18px;
    margin-left: 2px;
    margin-top: 2px;
}

.dropdown > button:hover {
    background-color: rgb(230, 124, 142);
}


.notClickedDisplay {
    display: none;
}

.buttonWrapper {
    white-space: nowrap;
    overflow: hidden;
    z-index: 4;
  }

  .prof_ {
    width: 75%;
    cursor: pointer;
    display: flex;
    border-radius: 50px;
    margin-left: -50%;
    border: 2px solid #dddddd;
    align-items: flex-start;
    padding-right: -100px;
}

.flex {
    display: flex;
    flex-direction: row;
    margin-left: 6%;
  }
  
.toggle {
    float: left;
    width: 50%;
    text-align: center;
    cursor: pointer;
    font-weight: 700;
}

.toggleIsActive {
    color: black;
}

.toggleIsActive > hr {
    border-color: black;
}

.toggleIsDormant {
    color: #a39a9a
}

.formWrapper {
    margin-top: 50px;
}

.input_forms {
    box-sizing: border-box;
    width: 100%;
    margin: 8px 0;
    border: 1px solid rgb(209, 208, 208);
    padding: 12px 20px;
    border-radius: 4px;
    /* font-family: 'Montserrat'; */
}


.submit_signin {
    width: 100%;
    height: 40px;
    background-color: #1e90ff;
    border: 2px solid #1e90ff;
    color: #FFE800;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
}

.signedInDropdown > button {
    width: 90%;
    margin-left: 5%;
    background-color: white;
    border: 0px;
    cursor: pointer;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.signedInDropdown > button:hover {
    background-color: #F0F0F0;
}

.div-button-top{
    margin-top:10px;
}

.div-button-bottom{
    margin-top:15px;
}
.warning {
    color: crimson;
    font-size: 15px;
    font-weight: bold;
}

.profile {
    font-size: 16px;
    color: black;
    padding: 6px;
    margin: 6px;
}